# 第5章
モデルの評価について学ぶ。

---
ソースコードは以下から引用しています: https://github.com/ghmagazine/kagglebook/tree/master/ch05

ライセンス: https://github.com/ghmagazine/kagglebook/blob/master/LICENSE

## データとモデルの準備

In [1]:
import numpy as np
import pandas as pd

# train_xは学習データ、train_yは目的変数、test_xはテストデータ
# pandasのDataFrame, Seriesで保持します。（numpyのarrayで保持することもあります）

train = pd.read_csv('data/sample-data/train_preprocessed.csv')
origin_train_x = train.drop(['target'], axis=1)
origin_train_y = train['target']
origin_test_x = pd.read_csv('data/sample-data/test_preprocessed.csv')

# xgboostによる学習・予測を行うクラス
import xgboost as xgb


class Model:

    def __init__(self, params=None):
        self.model = None
        if params is None:
            self.params = {}
        else:
            self.params = params

    def fit(self, tr_x, tr_y, va_x, va_y):
        params = {'objective': 'binary:logistic', 'silent': 1, 'random_state': 71}
        params.update(self.params)
        num_round = 10
        dtrain = xgb.DMatrix(tr_x, label=tr_y)
        dvalid = xgb.DMatrix(va_x, label=va_y)
        watchlist = [(dtrain, 'train'), (dvalid, 'eval')]
        self.model = xgb.train(params, dtrain, num_round, evals=watchlist)

    def predict(self, x):
        data = xgb.DMatrix(x)
        pred = self.model.predict(data)
        return pred

## クロスバリデーション

In [2]:
train_x, train_y = origin_train_x.copy(), origin_train_y.copy()

from sklearn.metrics import log_loss
from sklearn.model_selection import KFold

# Modelクラスを定義しているものとする
# Modelクラスは、fitで学習し、predictで予測値の確率を出力する

scores = []

# KFoldクラスを用いてクロスバリデーションの分割を行う
# 一見ランダムに並んでるように見えるデータでも、念のためデータをシャッフル
kf = KFold(n_splits=4, shuffle=True, random_state=71)
for tr_idx, va_idx in kf.split(train_x):
    tr_x, va_x = train_x.iloc[tr_idx], train_x.iloc[va_idx]
    tr_y, va_y = train_y.iloc[tr_idx], train_y.iloc[va_idx]

    # 学習の実行、バリデーションデータの予測値の出力、スコアの計算を行う
    model = Model()
    model.fit(tr_x, tr_y, va_x, va_y)
    va_pred = model.predict(va_x)
    score = log_loss(va_y, va_pred)
    scores.append(score)

# 各foldのスコアの平均をとる
print(np.mean(scores))

[0]	train-error:0.128533	eval-error:0.1516
[1]	train-error:0.115333	eval-error:0.146
[2]	train-error:0.109333	eval-error:0.1376
[3]	train-error:0.105333	eval-error:0.1364
[4]	train-error:0.096933	eval-error:0.1384
[5]	train-error:0.094667	eval-error:0.1364
[6]	train-error:0.087333	eval-error:0.1296
[7]	train-error:0.084933	eval-error:0.1244
[8]	train-error:0.078133	eval-error:0.1208
[9]	train-error:0.073733	eval-error:0.1172
[0]	train-error:0.124	eval-error:0.1512
[1]	train-error:0.1156	eval-error:0.1452
[2]	train-error:0.110933	eval-error:0.1404
[3]	train-error:0.1072	eval-error:0.1396
[4]	train-error:0.097067	eval-error:0.1364
[5]	train-error:0.092133	eval-error:0.1312
[6]	train-error:0.087333	eval-error:0.124
[7]	train-error:0.084133	eval-error:0.1236
[8]	train-error:0.0804	eval-error:0.12
[9]	train-error:0.0768	eval-error:0.1208
[0]	train-error:0.130267	eval-error:0.1576
[1]	train-error:0.1188	eval-error:0.1384
[2]	train-error:0.113067	eval-error:0.1416
[3]	train-error:0.1056	eval-error:0.1304
[4]	train-error:0.097067	eval-error:0.1372
[5]	train-error:0.092133	eval-error:0.1296
[6]	train-error:0.089867	eval-error:0.1284
[7]	train-error:0.084533	eval-error:0.1256
[8]	train-error:0.080533	eval-error:0.1224
[9]	train-error:0.074667	eval-error:0.1184
[0]	train-error:0.126933	eval-error:0.1492
[1]	train-error:0.118133	eval-error:0.1532
[2]	train-error:0.111867	eval-error:0.1468
[3]	train-error:0.1036	eval-error:0.1368
[4]	train-error:0.098133	eval-error:0.1384
[5]	train-error:0.091333	eval-error:0.1352
[6]	train-error:0.087467	eval-error:0.1304
[7]	train-error:0.081467	eval-error:0.1292
[8]	train-error:0.0744	eval-error:0.1284
[9]	train-error:0.070267	eval-error:0.126
0.2966626205723733

## GroupKFold

GroupKFoldクラスではシャッフルと乱数シードの指定ができないため使いづらいので、

ここではKFoldクラスを用いて、顧客ID単位で分割するアプローチ

In [3]:
train_x, train_y = origin_train_x.copy(), origin_train_y.copy()

# 4件ずつ同じユーザーがいるデータであったとする
train_x['user_id'] = np.arange(0, len(train_x)) // 4
train_x.head()

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth,user_id
0,50,1,166.445608,65.016732,9,7000000,134,202,1,11,...,1,0,1,0,0,2015,2,3,24182,0
1,68,0,164.334615,56.544217,0,7000000,438,263,3,14,...,0,1,1,0,0,2015,5,9,24185,0
2,77,1,167.462917,54.242267,2,6000000,313,325,1,18,...,1,0,1,0,0,2016,2,13,24194,0
3,17,1,177.097725,71.147762,3,8000000,342,213,2,11,...,0,0,1,0,0,2015,7,6,24187,0
4,62,0,158.165788,65.240697,1,9000000,327,102,0,14,...,0,1,1,1,0,2016,9,17,24201,1

In [4]:
# user_id列の顧客IDを単位として分割することにする
user_id = train_x['user_id']
unique_user_ids = user_id.unique()
unique_user_ids

array([   0,    1,    2, ..., 2497, 2498, 2499])

In [5]:
from sklearn.model_selection import KFold, GroupKFold

# KFoldクラスを用いて、顧客ID単位で分割する
kf = KFold(n_splits=4, shuffle=True, random_state=71)

In [6]:
# 挙動の確認用
for tr_group_idx, va_group_idx in kf.split(unique_user_ids):
    print('tr_group_idx: ', tr_group_idx)
    print('va_group_idx: ', va_group_idx)
    print('-'*10)
    
print('tr_group size: ', len(tr_group_idx))
print('va_group size: ', len(va_group_idx))

tr_group_idx:  [   0    1    2 ... 2496 2498 2499]
va_group_idx:  [   8    9   11   12   14   17   20   22   27   32   39   44   48   52
   53   64   70   78   79   83   91   94  103  104  106  110  111  117
  118  123  130  140  141  142  143  145  146  150  154  158  160  161
  163  170  173  179  180  182  185  190  209  210  218  227  231  233
  237  242  247  251  252  262  263  266  267  272  273  287  288  291
  292  299  304  316  317  327  329  339  344  345  348  350  352  358
  367  368  372  374  376  380  384  386  398  406  410  414  417  431
  434  435  446  449  453  457  462  468  474  476  477  484  493  497
  503  507  512  515  516  522  523  528  535  536  540  542  546  548
  550  551  553  558  563  569  570  571  576  577  578  580  584  585
  586  589  590  591  594  596  603  606  607  608  612  614  618  620
  622  623  624  634  636  639  642  644  647  651  654  657  659  661
  668  669  671  680  681  688  690  691  692  705  709  712  714  721
  725  727  728  736  738  739  740  742  757  759  762  771  774  776
  778  789  791  792  794  795  800  802  813  814  819  832  833  834
  836  837  839  844  850  851  859  860  864  865  867  868  869  870
  879  883  886  887  895  897  907  908  913  916  919  922  925  928
  929  930  931  936  938  939  942  951  958  960  972  973  981  991
  992  994  999 1003 1014 1019 1020 1028 1031 1034 1044 1045 1050 1051
 1056 1059 1064 1067 1070 1072 1075 1077 1078 1085 1091 1092 1102 1112
 1116 1118 1119 1121 1125 1127 1136 1138 1139 1145 1146 1148 1152 1154
 1158 1159 1161 1162 1163 1166 1170 1173 1174 1176 1179 1191 1193 1194
 1196 1198 1199 1203 1207 1210 1211 1224 1228 1235 1237 1239 1242 1244
 1250 1255 1256 1259 1264 1265 1269 1270 1271 1275 1279 1280 1284 1285
 1289 1297 1300 1301 1302 1303 1319 1321 1324 1325 1330 1341 1343 1345
 1347 1351 1352 1363 1364 1367 1370 1374 1378 1401 1413 1417 1419 1429
 1430 1437 1440 1444 1449 1452 1456 1458 1460 1461 1463 1467 1482 1485
 1488 1492 1495 1505 1509 1514 1515 1525 1530 1531 1543 1546 1551 1553
 1555 1557 1558 1559 1567 1568 1569 1570 1571 1577 1578 1588 1596 1597
 1612 1613 1633 1637 1640 1645 1646 1648 1656 1657 1658 1664 1666 1667
 1671 1674 1675 1691 1692 1694 1695 1696 1703 1710 1714 1715 1718 1721
 1727 1728 1742 1747 1748 1756 1758 1761 1766 1771 1772 1777 1779 1781
 1783 1784 1785 1786 1790 1800 1802 1804 1807 1812 1822 1823 1824 1829
 1833 1834 1836 1837 1842 1846 1847 1853 1868 1871 1875 1878 1881 1884
 1885 1886 1890 1893 1909 1916 1924 1927 1929 1930 1931 1942 1944 1947
 1949 1961 1963 1964 1970 1976 1977 1980 1981 1984 1985 1987 1992 2014
 2016 2017 2020 2021 2024 2026 2029 2035 2044 2047 2057 2060 2067 2069
 2072 2074 2075 2078 2097 2103 2112 2114 2117 2118 2119 2123 2127 2128
 2129 2138 2140 2145 2146 2148 2151 2153 2154 2157 2158 2168 2174 2177
 2179 2182 2187 2190 2197 2199 2200 2205 2206 2208 2215 2219 2224 2230
 2233 2235 2243 2257 2258 2267 2275 2276 2277 2279 2283 2284 2286 2297
 2312 2314 2316 2317 2327 2330 2331 2332 2336 2337 2338 2342 2347 2349
 2353 2356 2357 2358 2362 2364 2368 2375 2383 2386 2390 2396 2401 2408
 2410 2412 2414 2418 2419 2423 2425 2428 2431 2432 2437 2445 2448 2455
 2456 2457 2459 2461 2471 2484 2490 2493 2497]
----------
tr_group_idx:  [   0    1    3 ... 2497 2498 2499]
va_group_idx:  [   2   13   15   18   21   24   31   34   35   38   40   43   54   55
   59   61   62   63   71   73   74   76   80   82   86   87   93   95
   98  100  109  113  115  120  122  124  127  129  131  135  137  139
  149  159  165  172  175  177  181  183  184  188  191  194  203  207
  211  214  215  217  221  222  224  232  234  239  246  253  255  256
  268  269  275  281  283  285  297  298  305  306  310  311  312  318
  321  323  331  334  336  340  346  354  355  356  361  362  365  366
  373  377  382  388  390  397  400  402  403  408  409  411  416  420
  421  424  426  432  436  437  441  445  454  458  460  469  471  481
  482  488  490  491  494  496  498  499  500  501  504  505  510  511
  513  517  518  524  526  530  532  534  539  544  549  554  561  564
  565  567  573  574  579  592  598  602  611  616  621  628  632  633
  638  643  649  658  664  667  670  672  673  674  675  678  689  693
  695  696  697  698  702  704  706  710  711  713  715  718  719  724
  735  744  746  747  752  753  755  758  763  764  767  770  773  779
  780  784  797  799  801  805  806  809  812  818  821  823  828  841
  845  847  853  858  863  871  873  880  881  885  894  900  904  911
  912  915  921  923  933  937  941  944  948  952  954  956  957  963
  964  968  971  974  975  978  982  985  986  989  990  995  997 1000
 1004 1005 1007 1012 1017 1021 1022 1023 1033 1037 1041 1042 1043 1049
 1052 1058 1061 1062 1065 1068 1071 1084 1087 1093 1095 1101 1108 1110
 1115 1120 1124 1126 1131 1132 1142 1143 1149 1168 1171 1182 1183 1185
 1189 1190 1201 1202 1206 1208 1209 1219 1221 1223 1225 1226 1231 1240
 1245 1246 1247 1267 1278 1282 1283 1288 1291 1293 1295 1309 1314 1315
 1317 1326 1328 1329 1333 1335 1337 1340 1342 1346 1353 1355 1360 1361
 1362 1369 1380 1383 1386 1393 1397 1399 1404 1405 1412 1414 1416 1423
 1424 1433 1436 1453 1468 1471 1472 1476 1477 1479 1486 1489 1490 1496
 1501 1502 1507 1510 1512 1519 1520 1521 1522 1527 1534 1536 1539 1540
 1545 1547 1548 1552 1563 1572 1575 1579 1580 1583 1586 1587 1595 1600
 1601 1604 1608 1611 1614 1616 1620 1624 1627 1636 1638 1639 1642 1643
 1644 1649 1650 1652 1661 1670 1680 1689 1700 1711 1713 1717 1720 1724
 1730 1734 1735 1740 1741 1744 1745 1746 1755 1760 1765 1767 1768 1770
 1776 1778 1788 1789 1798 1801 1803 1810 1811 1815 1817 1818 1826 1839
 1840 1843 1851 1854 1860 1862 1866 1867 1872 1880 1887 1894 1897 1910
 1911 1913 1922 1933 1935 1937 1939 1951 1953 1957 1967 1973 1978 1986
 1988 1991 1993 1997 1999 2003 2005 2007 2009 2010 2011 2028 2032 2034
 2036 2038 2041 2049 2052 2053 2059 2062 2070 2071 2073 2077 2082 2088
 2089 2090 2100 2102 2104 2115 2120 2134 2135 2136 2139 2147 2150 2160
 2162 2164 2172 2176 2178 2183 2184 2186 2189 2193 2198 2201 2204 2207
 2211 2214 2218 2220 2222 2225 2236 2241 2242 2247 2249 2252 2253 2261
 2265 2271 2280 2285 2287 2292 2293 2294 2298 2299 2300 2302 2304 2306
 2315 2319 2324 2333 2335 2339 2344 2346 2350 2351 2352 2355 2361 2365
 2369 2371 2372 2373 2381 2392 2395 2397 2402 2404 2405 2407 2409 2421
 2424 2434 2436 2438 2440 2444 2447 2451 2454 2458 2464 2465 2466 2469
 2470 2475 2481 2485 2487 2488 2489 2494 2496]
----------
tr_group_idx:  [   0    2    4 ... 2496 2497 2498]
va_group_idx:  [   1    3    5    6   16   26   33   36   37   42   45   46   47   49
   50   51   57   60   66   68   69   81   85   90   92   96  105  108
  114  116  132  134  144  147  152  156  157  162  166  167  178  186
  189  193  195  198  200  202  204  205  208  212  213  220  223  228
  235  236  238  240  243  244  250  257  258  260  261  270  271  274
  276  277  278  280  286  289  290  293  294  295  296  300  307  308
  314  315  324  325  326  330  332  335  341  343  347  349  351  353
  357  360  364  370  371  378  379  381  385  391  393  394  399  412
  418  419  427  429  433  442  443  448  450  451  452  456  461  463
  464  467  470  479  480  483  486  492  495  502  509  519  527  531
  537  538  541  543  547  556  559  566  568  581  583  593  597  601
  609  610  613  617  626  627  630  631  635  640  645  648  650  655
  656  663  665  666  677  682  685  686  694  700  703  708  717  720
  722  723  726  730  731  732  734  737  745  748  750  765  768  772
  785  790  793  798  803  808  810  815  816  824  825  831  835  840
  846  854  856  857  861  866  874  875  882  889  890  892  901  905
  909  910  917  918  920  926  946  949  953  955  962  967  969  980
  983  984  987  988  998 1001 1006 1008 1010 1011 1013 1015 1016 1026
 1027 1030 1032 1035 1046 1047 1055 1057 1066 1080 1082 1083 1088 1089
 1094 1096 1099 1100 1103 1105 1107 1114 1122 1128 1129 1130 1134 1137
 1141 1144 1150 1153 1155 1156 1160 1167 1172 1177 1178 1180 1181 1186
 1188 1192 1195 1204 1212 1213 1215 1218 1227 1229 1230 1236 1241 1248
 1251 1257 1258 1260 1261 1268 1272 1276 1290 1298 1299 1304 1305 1308
 1316 1336 1338 1339 1344 1357 1358 1366 1368 1375 1376 1377 1384 1390
 1392 1394 1398 1402 1403 1406 1409 1411 1415 1418 1420 1425 1426 1431
 1432 1434 1435 1439 1442 1446 1447 1448 1454 1455 1457 1469 1470 1473
 1478 1481 1484 1487 1493 1499 1500 1504 1508 1518 1526 1528 1529 1532
 1537 1538 1541 1542 1550 1556 1560 1562 1573 1574 1584 1585 1589 1592
 1593 1598 1602 1605 1609 1610 1618 1621 1623 1625 1628 1629 1632 1634
 1641 1653 1663 1665 1672 1673 1677 1679 1681 1682 1684 1686 1690 1693
 1697 1701 1702 1705 1708 1709 1712 1716 1723 1733 1736 1737 1738 1739
 1749 1750 1751 1752 1754 1757 1759 1763 1764 1774 1775 1787 1792 1796
 1805 1806 1809 1816 1819 1820 1825 1827 1828 1832 1835 1845 1848 1849
 1856 1857 1858 1863 1869 1873 1874 1877 1882 1888 1889 1895 1896 1898
 1900 1901 1902 1905 1906 1907 1908 1914 1917 1918 1920 1921 1925 1932
 1934 1936 1938 1943 1945 1946 1948 1954 1956 1958 1960 1962 1965 1971
 1972 1974 1983 1994 2001 2002 2006 2015 2019 2025 2033 2037 2039 2051
 2054 2058 2063 2065 2066 2068 2079 2080 2087 2094 2095 2096 2111 2113
 2116 2121 2125 2126 2130 2131 2132 2141 2142 2143 2165 2166 2167 2169
 2170 2171 2173 2180 2185 2188 2192 2203 2210 2216 2217 2221 2229 2232
 2234 2240 2245 2251 2256 2264 2272 2273 2274 2278 2281 2282 2288 2289
 2291 2295 2301 2305 2309 2318 2320 2321 2329 2340 2341 2354 2360 2367
 2370 2376 2378 2379 2380 2384 2389 2391 2393 2394 2398 2399 2400 2403
 2420 2422 2426 2429 2433 2435 2439 2442 2443 2446 2452 2462 2463 2467
 2468 2472 2473 2474 2476 2477 2492 2495 2499]
----------

tr_group_idx:  [   1    2    3 ... 2496 2497 2499]
va_group_idx:  [   0    4    7   10   19   23   25   28   29   30   41   56   58   65
   67   72   75   77   84   88   89   97   99  101  102  107  112  119
  121  125  126  128  133  136  138  148  151  153  155  164  168  169
  171  174  176  187  192  196  197  199  201  206  216  219  225  226
  229  230  241  245  248  249  254  259  264  265  279  282  284  301
  302  303  309  313  319  320  322  328  333  337  338  342  359  363
  369  375  383  387  389  392  395  396  401  404  405  407  413  415
  422  423  425  428  430  438  439  440  444  447  455  459  465  466
  472  473  475  478  485  487  489  506  508  514  520  521  525  529
  533  545  552  555  557  560  562  572  575  582  587  588  595  599
  600  604  605  615  619  625  629  637  641  646  652  653  660  662
  676  679  683  684  687  699  701  707  716  729  733  741  743  749
  751  754  756  760  761  766  769  775  777  781  782  783  786  787
  788  796  804  807  811  817  820  822  826  827  829  830  838  842
  843  848  849  852  855  862  872  876  877  878  884  888  891  893
  896  898  899  902  903  906  914  924  927  932  934  935  940  943
  945  947  950  959  961  965  966  970  976  977  979  993  996 1002
 1009 1018 1024 1025 1029 1036 1038 1039 1040 1048 1053 1054 1060 1063
 1069 1073 1074 1076 1079 1081 1086 1090 1097 1098 1104 1106 1109 1111
 1113 1117 1123 1133 1135 1140 1147 1151 1157 1164 1165 1169 1175 1184
 1187 1197 1200 1205 1214 1216 1217 1220 1222 1232 1233 1234 1238 1243
 1249 1252 1253 1254 1262 1263 1266 1273 1274 1277 1281 1286 1287 1292
 1294 1296 1306 1307 1310 1311 1312 1313 1318 1320 1322 1323 1327 1331
 1332 1334 1348 1349 1350 1354 1356 1359 1365 1371 1372 1373 1379 1381
 1382 1385 1387 1388 1389 1391 1395 1396 1400 1407 1408 1410 1421 1422
 1427 1428 1438 1441 1443 1445 1450 1451 1459 1462 1464 1465 1466 1474
 1475 1480 1483 1491 1494 1497 1498 1503 1506 1511 1513 1516 1517 1523
 1524 1533 1535 1544 1549 1554 1561 1564 1565 1566 1576 1581 1582 1590
 1591 1594 1599 1603 1606 1607 1615 1617 1619 1622 1626 1630 1631 1635
 1647 1651 1654 1655 1659 1660 1662 1668 1669 1676 1678 1683 1685 1687
 1688 1698 1699 1704 1706 1707 1719 1722 1725 1726 1729 1731 1732 1743
 1753 1762 1769 1773 1780 1782 1791 1793 1794 1795 1797 1799 1808 1813
 1814 1821 1830 1831 1838 1841 1844 1850 1852 1855 1859 1861 1864 1865
 1870 1876 1879 1883 1891 1892 1899 1903 1904 1912 1915 1919 1923 1926
 1928 1940 1941 1950 1952 1955 1959 1966 1968 1969 1975 1979 1982 1989
 1990 1995 1996 1998 2000 2004 2008 2012 2013 2018 2022 2023 2027 2030
 2031 2040 2042 2043 2045 2046 2048 2050 2055 2056 2061 2064 2076 2081
 2083 2084 2085 2086 2091 2092 2093 2098 2099 2101 2105 2106 2107 2108
 2109 2110 2122 2124 2133 2137 2144 2149 2152 2155 2156 2159 2161 2163
 2175 2181 2191 2194 2195 2196 2202 2209 2212 2213 2223 2226 2227 2228
 2231 2237 2238 2239 2244 2246 2248 2250 2254 2255 2259 2260 2262 2263
 2266 2268 2269 2270 2290 2296 2303 2307 2308 2310 2311 2313 2322 2323
 2325 2326 2328 2334 2343 2345 2348 2359 2363 2366 2374 2377 2382 2385
 2387 2388 2406 2411 2413 2415 2416 2417 2427 2430 2441 2449 2450 2453
 2460 2478 2479 2480 2482 2483 2486 2491 2498]
----------
tr_group size:  1875
va_group size:  625

In [7]:
# 確認用
print(tr_group_idx)
print(unique_user_ids[tr_group_idx])

[   1    2    3 ... 2496 2497 2499]
[   1    2    3 ... 2496 2497 2499]

In [8]:
# 確認用
print(user_id)
print(user_id.isin(tr_group_idx))

0          0
1          0
2          0
3          0
4          1
5          1
6          1
7          1
8          2
9          2
10         2
11         2
12         3
13         3
14         3
15         3
16         4
17         4
18         4
19         4
20         5
21         5
22         5
23         5
24         6
25         6
26         6
27         6
28         7
29         7
        ...
9970    2492
9971    2492
9972    2493
9973    2493
9974    2493
9975    2493
9976    2494
9977    2494
9978    2494
9979    2494
9980    2495
9981    2495
9982    2495
9983    2495
9984    2496
9985    2496
9986    2496
9987    2496
9988    2497
9989    2497
9990    2497
9991    2497
9992    2498
9993    2498
9994    2498
9995    2498
9996    2499
9997    2499
9998    2499
9999    2499
Name: user_id, Length: 10000, dtype: int64
0       False
1       False
2       False
3       False
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
15       True
16      False
17      False
18      False
19      False
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28      False
29      False
        ...
9970     True
9971     True
9972     True
9973     True
9974     True
9975     True
9976     True
9977     True
9978     True
9979     True
9980     True
9981     True
9982     True
9983     True
9984     True
9985     True
9986     True
9987     True
9988     True
9989     True
9990     True
9991     True
9992    False
9993    False
9994    False
9995    False
9996     True
9997     True
9998     True
9999     True
Name: user_id, Length: 10000, dtype: bool

In [9]:
scores = []
for tr_group_idx, va_group_idx in kf.split(unique_user_ids):
    # 顧客IDをtrain/valid（学習に使うデータ、バリデーションデータ）に分割する

    # 元のコードだと、
    # tr_groups, va_groups = unique_user_ids[tr_group_idx], unique_user_ids[va_group_idx]
    # となっているが、tr_group_idxもunique_user_ids[tr_group_idx]も中身は同じなので、以下のように書いても問題なさそう
    # （書き換えた場合でも、scoreは変化しない）
    tr_groups, va_groups = tr_group_idx, va_group_idx

    # 各レコードの顧客IDがtrain/validのどちらに属しているかによって分割する
    is_tr = user_id.isin(tr_groups)
    is_va = user_id.isin(va_groups)
    tr_x, va_x = train_x[is_tr], train_x[is_va]
    tr_y, va_y = train_y[is_tr], train_y[is_va]
    
    # 学習の実行、バリデーションデータの予測値の出力、スコアの計算を行う
    model = Model()
    model.fit(tr_x, tr_y, va_x, va_y)
    va_pred = model.predict(va_x)
    score = log_loss(va_y, va_pred)
    scores.append(score)

# 各foldのスコアの平均をとる
print(np.mean(scores))

[0]	train-error:0.123467	eval-error:0.1536
[1]	train-error:0.116933	eval-error:0.1536
[2]	train-error:0.1092	eval-error:0.1504
[3]	train-error:0.102	eval-error:0.1452
[4]	train-error:0.0988	eval-error:0.1456
[5]	train-error:0.093067	eval-error:0.138
[6]	train-error:0.0864	eval-error:0.1332
[7]	train-error:0.080533	eval-error:0.1304
[8]	train-error:0.075467	eval-error:0.1308
[9]	train-error:0.0704	eval-error:0.1288
[0]	train-error:0.1264	eval-error:0.1528
[1]	train-error:0.1148	eval-error:0.1488
[2]	train-error:0.109867	eval-error:0.1444
[3]	train-error:0.102267	eval-error:0.144
[4]	train-error:0.095067	eval-error:0.1312
[5]	train-error:0.0924	eval-error:0.1344
[6]	train-error:0.085333	eval-error:0.1288
[7]	train-error:0.081333	eval-error:0.1256
[8]	train-error:0.0768	eval-error:0.1216
[9]	train-error:0.0736	eval-error:0.1204
[0]	train-error:0.129067	eval-error:0.1508
[1]	train-error:0.1196	eval-error:0.1408
[2]	train-error:0.1104	eval-error:0.1436
[3]	train-error:0.103867	eval-error:0.1408
[4]	train-error:0.096667	eval-error:0.1372
[5]	train-error:0.091733	eval-error:0.1308
[6]	train-error:0.0844	eval-error:0.1288
[7]	train-error:0.082933	eval-error:0.1268
[8]	train-error:0.0792	eval-error:0.1244
[9]	train-error:0.074667	eval-error:0.1216
[0]	train-error:0.1252	eval-error:0.1624
[1]	train-error:0.111867	eval-error:0.1504
[2]	train-error:0.108933	eval-error:0.1472
[3]	train-error:0.100267	eval-error:0.142
[4]	train-error:0.096533	eval-error:0.1424
[5]	train-error:0.0904	eval-error:0.1368
[6]	train-error:0.084933	eval-error:0.136
[7]	train-error:0.0808	eval-error:0.1292
[8]	train-error:0.074933	eval-error:0.1292
[9]	train-error:0.068933	eval-error:0.1288
0.3023850588589907

## 時系列データのクロスバリデーション（時系列に沿って行う方法）

In [10]:
train_x, train_y = origin_train_x.copy(), origin_train_y.copy()
test_x = origin_test_x.copy()

# 時系列データであり、時間に沿って変数periodを設定したとする
train_x['period'] = np.arange(0, len(train_x)) // (len(train_x) // 4)
train_x['period'] = np.clip(train_x['period'], 0, 3)
test_x['period'] = 4

In [11]:
train_x

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth,period
0,50,1,166.445608,65.016732,9,7000000,134,202,1,11,...,1,0,1,0,0,2015,2,3,24182,0
1,68,0,164.334615,56.544217,0,7000000,438,263,3,14,...,0,1,1,0,0,2015,5,9,24185,0
2,77,1,167.462917,54.242267,2,6000000,313,325,1,18,...,1,0,1,0,0,2016,2,13,24194,0
3,17,1,177.097725,71.147762,3,8000000,342,213,2,11,...,0,0,1,0,0,2015,7,6,24187,0
4,62,0,158.165788,65.240697,1,9000000,327,102,0,14,...,0,1,1,1,0,2016,9,17,24201,0
5,14,0,162.875632,76.423119,7,10000,389,229,1,11,...,1,0,0,0,0,2015,10,27,24190,0
6,63,1,181.146801,63.982878,2,6000000,57,344,2,11,...,0,0,0,1,0,2015,8,19,24188,0
7,42,1,176.865716,68.588308,9,9000000,307,315,1,15,...,0,0,0,0,0,2016,11,5,24203,0
8,9,0,158.744094,63.187882,9,3000000,201,393,3,11,...,0,0,1,0,0,2016,1,5,24193,0
9,40,1,164.893735,52.348560,0,7000000,209,226,3,13,...,0,0,1,1,0,2016,5,2,24197,0
10,54,1,175.576514,52.470671,7,2000,349,348,1,18,...,0,0,1,0,0,2016,12,24,24204,0
11,17,0,162.283723,51.544568,6,6000,284,266,2,16,...,0,1,1,0,0,2016,2,28,24194,0
12,5,1,160.458369,55.488517,4,6000000,441,160,4,16,...,0,0,1,0,0,2016,8,20,24200,0
13,44,1,162.777246,61.889304,0,5000000,432,224,1,19,...,1,0,0,1,0,2015,7,18,24187,0
14,55,0,159.311032,51.902371,0,6000000,397,447,2,14,...,0,0,1,0,0,2015,3,29,24183,0
15,63,0,175.617062,52.743607,2,3000000,341,347,0,16,...,0,0,1,1,0,2015,5,8,24185,0
16,67,1,169.932366,58.797455,2,2000000,289,251,1,13,...,1,0,1,0,0,2016,6,16,24198,0
17,33,1,169.037866,59.644406,0,7000000,193,190,0,18,...,0,0,1,1,0,2015,1,15,24181,0
18,43,1,180.958649,61.235844,1,1000000,476,63,4,14,...,1,0,1,1,0,2015,1,5,24181,0
19,63,0,158.856384,62.948771,1,6000000,292,246,3,14,...,0,0,1,1,0,2015,7,18,24187,0
20,11,0,163.943192,52.445476,1,4000000,323,352,2,11,...,0,0,1,0,0,2015,2,1,24182,0
21,43,1,153.754840,46.468733,1,5000000,399,288,4,12,...,0,0,1,0,0,2016,10,28,24202,0
22,56,1,163.850950,58.415125,6,10000,250,142,0,19,...,0,0,1,0,0,2015,7,26,24187,0
23,35,0,147.256907,44.591515,2,7000000,410,162,2,19,...,0,1,1,0,0,2015,12,15,24192,0
24,8,1,166.478950,68.028647,4,1000000,325,183,3,16,...,0,0,0,0,0,2015,3,1,24183,0
25,46,1,169.519924,71.864144,2,3000000,371,280,0,18,...,1,0,1,1,0,2016,5,4,24197,0
26,36,1,170.861795,67.464612,0,1000000,201,45,2,19,...,0,0,1,1,0,2015,4,18,24184,0
27,28,0,160.677220,55.205026,6,5000,360,79,2,19,...,1,0,1,0,0,2016,11,1,24203,0
28,17,1,159.775336,54.778417,7,10000,303,77,3,12,...,1,0,1,0,1,2016,3,3,24195,0
29,39,0,165.875727,64.452860,2,9000000,321,311,2,15,...,0,1,0,1,0,2016,8,15,24200,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,53,0,172.903652,58.897895,5,6000000,311,216,1,14,...,0,0,0,0,0,2016,12,26,24204,3
9971,33,1,173.350732,67.144428,0,4000000,286,320,0,13,...,1,1,1,0,0,2016,1,21,24193,3
9972,16,0,160.924638,50.313688,10,8000,130,451,1,18,...,1,0,1,1,0,2015,11,28,24191,3
9973,29,0,149.367460,56.426408,9,2000000,280,233,2,17,...,0,0,1,0,0,2016,12,12,24204,3
9974,43,1,170.453255,67.497461,10,8000,347,215,3,11,...,1,0,1,1,0,2015,9,14,24189,3
9975,20,1,169.218311,66.706626,7,5000,300,180,2,10,...,1,1,1,0,0,2015,2,8,24182,3
9976,68,1,157.088065,54.216035,5,5000000,349,274,0,16,...,1,0,1,0,0,2016,10,15,24202,3
9977,79,1,173.627903,81.148417,5,6000000,167,213,0,19,...,1,0,1,0,0,2016,3,24,24195,3
9978,59,1,168.465305,52.689099,8,6000,342,264,2,13,...,0,0,1,0,0,2016,1,31,24193,3
9979,13,1,177.221977,79.291020,2,7000000,129,388,1,15,...,0,0,1,0,0,2015,7,6,24187,3
9980,34,1,166.580127,60.673350,6,2000,501,397,3,19,...,1,0,0,0,0,2016,5,7,24197,3
9981,74,0,162.508254,59.167659,1,8000000,235,101,1,18,...,0,0,1,0,0,2016,3,5,24195,3
9982,7,1,160.953639,67.998895,10,4000,455,255,0,10,...,0,0,0,0,0,2015,12,12,24192,3
9983,12,1,163.391505,59.176166,2,5000000,202,175,2,19,...,0,0,1,0,0,2016,3,14,24195,3
9984,61,0,167.430358,65.349163,2,10000000,460,243,3,10,...,0,0,1,1,0,2016,4,29,24196,3
9985,71,0,152.722993,39.486152,7,6000,310,368,4,16,...,0,0,0,0,0,2015,5,21,24185,3
9986,56,1,164.690874,49.944398,6,7000,342,120,1,11,...,1,1,1,0,0,2016,7,27,24199,3
9987,16,0,163.449969,50.958315,2,1000000,271,-22,1,11,...,0,0,0,1,0,2016,4,2,24196,3
9988,78,1,163.731638,62.836367,2,10000000,354,318,2,10,...,0,1,0,0,0,2015,9,5,24189,3
9989,7,1,160.225267,59.486200,1,5000000,83,247,0,18,...,0,0,1,0,1,2016,6,22,24198,3
9990,26,0,165.870038,69.261003,1,6000000,354,202,1,16,...,1,0,1,0,0,2015,12,30,24192,3
9991,32,1,166.448941,71.022448,6,4000,133,176,2,11,...,0,0,1,0,0,2015,3,27,24183,3
9992,18,1,163.757786,63.406425,9,9000000,282,246,0,18,...,1,0,0,0,0,2016,7,3,24199,3
9993,75,1,182.201391,83.886243,1,9000000,299,314,4,15,...,0,0,1,0,0,2015,4,6,24184,3
9994,73,1,176.562011,66.131343,0,5000000,372,435,3,12,...,0,0,1,1,0,2016,6,19,24198,3
9995,61,1,182.729800,73.393777,1,2000000,189,232,7,17,...,0,0,1,1,0,2015,10,21,24190,3
9996,33,0,167.701136,75.006529,8,9000,426,202,3,19,...,0,0,1,1,0,2015,5,28,24185,3
9997,44,0,145.609998,47.739397,8,1000,370,274,1,11,...,0,0,1,0,1,2016,2,29,24194,3
9998,34,0,165.796017,57.567695,6,5000,291,105,1,13,...,1,1,1,1,0,2016,2,27,24194,3
9999,31,1,180.301762,71.425135,4,1000000,288,454,4,13,...,1,0,1,0,0,2015,7,1,24187,3

In [12]:
test_x.head()

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth,period
0,49,1,187.431987,81.008363,1,1000000,302,212,1,10,...,1,0,1,0,0,2016,12,6,24204,4
1,79,1,171.632630,71.067812,6,2000,197,469,0,14,...,0,0,0,1,1,2016,9,3,24201,4
2,78,0,163.543983,64.032098,0,4000000,247,225,2,17,...,1,0,1,0,0,2015,4,10,24184,4
3,26,1,150.391858,52.322910,2,1000000,108,228,0,15,...,0,1,0,0,0,2016,4,17,24196,4
4,14,1,165.835167,67.008154,2,4000000,181,90,2,11,...,0,0,1,0,0,2015,1,26,24181,4

In [13]:
# 変数periodを基準に分割することにする（0から3までが学習データ、4がテストデータとする）
# 変数periodが1, 2, 3のデータをそれぞれバリデーションデータとし、それ以前のデータを学習に使う
# TimeSeriesSplitの場合、データの並び順しか使えないため使いづらいので、自分でva_period_listを定義してforで回す

va_period_list = [1, 2, 3]

scores = []
for va_period in va_period_list:
    is_tr = train_x['period'] < va_period
    is_va = train_x['period'] == va_period
    tr_x, va_x = train_x[is_tr], train_x[is_va]
    tr_y, va_y = train_y[is_tr], train_y[is_va]

    # 学習の実行、バリデーションデータの予測値の出力、スコアの計算を行う
    model = Model()
    model.fit(tr_x, tr_y, va_x, va_y)
    va_pred = model.predict(va_x)
    score = log_loss(va_y, va_pred)
    scores.append(score)

# 各foldのスコアの平均をとる
print(np.mean(scores))

[0]	train-error:0.1248	eval-error:0.1468
[1]	train-error:0.0984	eval-error:0.1444
[2]	train-error:0.096	eval-error:0.1388
[3]	train-error:0.0896	eval-error:0.1364
[4]	train-error:0.0816	eval-error:0.1324
[5]	train-error:0.0756	eval-error:0.1304
[6]	train-error:0.0672	eval-error:0.1312
[7]	train-error:0.06	eval-error:0.1304
[8]	train-error:0.0568	eval-error:0.1284
[9]	train-error:0.05	eval-error:0.128
[0]	train-error:0.121	eval-error:0.1528
[1]	train-error:0.1104	eval-error:0.1496
[2]	train-error:0.1028	eval-error:0.1468
[3]	train-error:0.0924	eval-error:0.1416
[4]	train-error:0.089	eval-error:0.1404
[5]	train-error:0.0846	eval-error:0.1428
[6]	train-error:0.08	eval-error:0.1444
[7]	train-error:0.0716	eval-error:0.1368
[8]	train-error:0.068	eval-error:0.1352
[9]	train-error:0.0602	eval-error:0.132
[0]	train-error:0.1256	eval-error:0.1576
[1]	train-error:0.116133	eval-error:0.1524
[2]	train-error:0.112933	eval-error:0.1484
[3]	train-error:0.102533	eval-error:0.1496
[4]	train-error:0.094933	eval-error:0.1464
[5]	train-error:0.090533	eval-error:0.1384
[6]	train-error:0.084933	eval-error:0.14
[7]	train-error:0.080533	eval-error:0.14
[8]	train-error:0.077333	eval-error:0.1388
[9]	train-error:0.073467	eval-error:0.1328
0.30507758857086303